@charset "UTF-8";

:root {
    --cor-escura: #0D0D0D;
    --cor-clara: #F2F2F2;
    --cor-2clara: #CCD0D9;
    --cor-azulclaro: #0093E9;
    --cor-azul: #9599E2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%
}

body {
    font-family: sans-serif;
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
    height: 100%;

    
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.addLists {
    position: fixed;
    height: 100%;
    width: 14%;
    border-right: 2px solid var(--cor-azul);
    padding: 1%;
}

.addLists > div {
    margin: auto;
    width: 100%;
    height: 23%;
    font-size: 2.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    gap: 20%;
    color: var(--cor-azul);
    border: 2px solid var(--cor-azul);
    cursor: pointer;
}

.addLists > div i {
    color: var(--cor-azul);
}

.listsBasic {
    position: relative;
    left: 20%;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listBasic {
    position: relative;
    width: 18%;
    height: 25%;
    border: 2px solid var(--cor-escura);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cor-azul);
    margin: 1%;
}

.listsBasic .title {
    word-wrap: break-word;
    max-width: 80%;
    width: 80%;
    position: relative;
    font-size: 1.4rem;
    text-align: center;
    top: -3%;
}

.listsBasic .descrip {
    word-wrap: break-word;
    text-align: center;
    width: 90%;
    position: relative;
    top: -10%;
}

.listsBasic .date {
    position: absolute;
    bottom: -1%;
    color: var(--cor-escura);
    width: 101%;
    padding: 2%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15%;
    border-top: 1px solid var(--cor-escura);
}

.listsBasic 

.listBasic .actions {
    position: absolute;
    right: 2%;
    top: 1%;
    width: 3%;
    height: 20%;
}

.listBasic .actions .itensActions {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 300%;
    top: -10%;
    width: 1300%;
    height: 150%;
    gap: 20%;
    padding: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    z-index: 999;
}

.listBasic .actions .itensActions .remove {
    display: flex;
    flex-direction: row;
    gap: 5%;
    cursor: pointer;
}

.listBasic .actions .itensActions .complete {
    display: flex;
    flex-direction: row;
    gap: 5%;
    cursor: pointer;
}

.basicListDados {
    position: absolute;
    height: 40%;
    width: 25%;
    top: 25%;
    left: 40%;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

    border-radius: 10% 0% 10% 10% / 10% 10% 10% 0% ;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2%;
}   

.basicListDados .title {
    padding: 2%;
    outline: 0;
}

.basicListDados .descrip {  
    height: 50%;
    padding: 2%;
    outline: 0;
}

.basicListDados .date {
    outline: 0;
    padding: 1%;
}

.basicListDados .number {
    outline: 0;
    padding: 1%;
}


/*///////////////////////////////////////*/

.open-close {
    display: none !important;
}

.inputValid {
    border: 2px solid red !important;
    color: red;
}

.fa-regular {
    position: relative;
    top: -10%;
}